.header {
    background: url("../assets/images/background-1.png") repeat;
}

.header__logo {
}

.header__navigation {
    display: flex;
    align-items: center;

    color:white;
    font-family: "Bazar";
    font-size: 3.2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
