.contact-page {
    background: url("../assets/images/background-5.png") repeat;
    color: #3a3a3a;
}

.contact-page__title {
    color: #f6edd8;
    text-shadow: 0.2rem 0.2rem 0 #383a3c, 0.4rem 0.4rem 0 #f6edd8;
}

.contact-page__separator {
    color: #f6edd8;
}

.contact-page__separator::before {
    background-color: #f6edd8;
}

.contact-page__separator::after {
    background-color: #f6edd8;
}

.contact-page__header-subtitle {
    color: #f6edd8;
}

.contact-page__bottom {
    color: #f6edd8;
}

.contact-page__bottom-separator {
    border-bottom: 2px solid #f6edd8;
}
