@charset "UTF-8";

@font-face {
    font-family: 'Bazar';
    src: url('../assets/fonts/Bazar/Bazar-webfont.eot');
    src: url('../assets/fonts/Bazar/Bazar-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Bazar/Bazar-webfont.woff2') format('woff2'),
    url('../assets/fonts/Bazar/Bazar-webfont.woff') format('woff'),
    url('../assets/fonts/Bazar/Bazar-webfont.ttf') format('truetype'),
    url('../assets/fonts/Bazar/Bazar-webfont.svg#bazarmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SeasideResortNFW00-Regular";
    src: url("//db.onlinewebfonts.com/t/7c6e7c99e69d84d0d2b6189c5e9edb3f.eot");
    src: url("//db.onlinewebfonts.com/t/7c6e7c99e69d84d0d2b6189c5e9edb3f.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7c6e7c99e69d84d0d2b6189c5e9edb3f.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7c6e7c99e69d84d0d2b6189c5e9edb3f.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7c6e7c99e69d84d0d2b6189c5e9edb3f.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7c6e7c99e69d84d0d2b6189c5e9edb3f.svg#SeasideResortNFW00-Regular") format("svg");
}

@import "vendors/reset.css";
@import "vendors/simplegrid.css";
@import "vendors/icomoon.css";
@import "common/visibility.css";

@import "layout/site-container.css";

@import "blocks/header.css";
@import "blocks/logo.css";
@import "blocks/navigation.css";

@import "blocks/page.css";
@import "blocks/home-page.css";
@import "blocks/about-me-page.css";
@import "blocks/ribbon.css";
@import "blocks/page-title.css";
@import "blocks/slideshow.css";


/*TODO fix or consider improvements of font-family application for body*/
body {
    font-family: "Bazar", sans-serif;
}
