.form {
  display: flex;
  flex-flow: column nowrap;
}

.form__field {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 2;
  margin-top: 10px;
}
.form__field::placeholder {
  color: #a9a9a9;
  font-family: "robotoslab-regular", sans-serif;
  text-indent: 10px;
}

.form__field:focus,
.form__field:focus {
  outline: none;
}

.form__field--submit {
  background-color: #fcfaf7;
  color: #383a3c;
  cursor: pointer;
  font-family: "robotoslab-bold" , sans-serif;
  height: 36px;
  width: 141px;
}

.form__field--text-area {
  resize: none;
}
