.form {
    display: flex;
    flex-flow: column nowrap;
}

.form__field {
    margin-top: 10px;
    font-size: 16px;
    line-height: 2;
    border-radius: 3px;
    border: none;
}
.form__field::placeholder {
    color: #a9a9a9;
    text-indent: 10px;

    font-family: "robotoslab-regular", sans-serif;
}

.form__field:focus, .form__field:focus{
    outline: none;
}

.form__field--submit {
    font-family: "robotoslab-bold" , sans-serif;
    cursor: pointer;
    background-color: #fcfaf7;
    color: #383a3c;

    width: 141px;
    height: 36px;
}

.form__field--text-area {
    resize: none;
}
