.outlined-circle {
  align-items: center;
  background-color: #d45244;
  border: 4px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #d45244;
  display: inline-flex;
  font-size: 90px;
  height: 142px;
  justify-content: center;
  width: 142px;
}
