.page {
 padding-top: 10px;
 padding-bottom: 10px;

    position: relative;
    z-index: 1;
}

.page__wrapper {
    text-align: center;
    max-width: 66%;
    margin-left: 16.6%;
}

.page::before {
    content: " ";
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    width: 100%;
    display: block;
}
.page::after {
    content: " ";
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    width: 100%;
    display: block;
    bottom: 0;
}

.page__title {
    text-align: center;
}

.page__header {
    margin-top: 40px;
    margin-bottom: 40px;

}
