.page {
 padding-top: 10px;
 padding-bottom: 10px;

    position: relative;
    z-index: 1;
}

.page__wrapper {
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
}

.page::before {
    content: " ";
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    width: 100%;
    display: block;
}
.page::after {
    content: " ";
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    width: 100%;
    display: block;
    bottom: 0;
}

.page__title {
    text-align: center;
}

.page__title-text {
    text-align: center;

    font-size: 90px;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0 #f6edd8, 0.4rem 0.4rem 0 #383a3c;
}

.page__header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.page__header-subtitle {
    font-family: "oswald_regularregular", serif;
    font-weight: 100;
}

.page__footer {
    margin: 40px auto;
    width: 100%;

}

.page__separator {
    margin: 10px auto;
}

.page__bottom {
    text-align: center;
    font-family: "oswald_bold", serif;
    font-size: 14px;

    font-weight: bold;

    margin-bottom: 40px;
}


@media (max-width: 768px) {
    .page__wrapper {
        max-width: 80%;
        margin-left: 10%;
    }
    .page__title-text {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .page__wrapper {
        max-width: 90%;
        margin-left: 4%;
    }
}

@media (max-width: 1600px) {
    .page__wrapper {
        max-width: 60%;
        margin-left: 20%;
    }
}
