.ribbon {
    position: relative;
    background: rgb(255, 241, 206);;
    text-align: center;
    line-height: 2;
}

.ribbon::before, .ribbon::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid rgb(255, 241, 206);;
    z-index: -1;
}

.ribbon::before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}


.ribbon::before::before {
    content: "----";
}

.ribbon::after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon__wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ribbon__wrapper::before, .ribbon__wrapper::after {
    content: " ";
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    width: 100%;
    display: block;
}


.ribbon__content::before, .ribbon__content::after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: rgb(132, 144, 146) transparent transparent transparent;
    bottom: -1em;
}

.ribbon__content::before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon__content::after {
    right: 0;
    border-width: 1em 1em 0 0;
}
