
.separator {
    font-size: 26px;
    position: relative;
}

.separator:before, .separator:after {
    content: '';
    background-color: #383a3c;
    height: 3px;
    width: 65px;
    position: absolute;
    top: 50%;
}
.separator:before {
    left: -80px;
}
.separator:after {
    right: -80px;
}
