.site {
    max-width: 500px;
}

.slider {
    position: relative;
    overflow: hidden;

    border-radius: 3px;
}
.slider__wrapper {
    border: 10px solid;

    border-color: #f6edd8;
    background-color: #f6edd8;
}

.slider__image {
    max-width: 100%;
}

.slider__item {
}

.slider__item-description {
    font-family: "Bazar", sans-serif;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #f6edd8;
    text-align: center;
}

.slider__prev,
.slider__next {
    background-color: #f6edd8;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    margin-top: -1.95em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__prev {
    left: -15px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}

.slider__next {
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    right: -15px;
}

.slider__left-arrow {
    margin-left: 15px;
}

.slider__right-arrow {
    margin-right: 15px;
}

.slider__prev--disabled,
.slider__next--disabled {
    color: #79756e;
}
